/* Estilos gerais da página */
body {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}

/* Estilos para a seção superior (top) */
.top {
    width: 220px;
    height: 68px;
    display: flex;
}

/* Estilos para o retângulo (Rectangle 239) dentro de top */
.rectangle-239 {
    position: absolute;
    left: 0%;
    right: 0%;
    top: 0%;
    bottom: 0%;
    background: linear-gradient(180deg, #FFB354 0%, #EE7A3A 100%);
}

/* Estilos para o texto (SLACA 2019) dentro do retângulo */
.slaca-2019 {
    position: absolute;
    left: 9.09%;
    right: 10%;
    top: 0%;
    bottom: 0%;
    font-weight: 700;
    font-size: 30px;
    line-height: 35px;
    display: flex;
    align-items: center;
    text-align: center;
    color: #FFFFFF;
}
